@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --hero-bg-col: #2f303a;
  --body-bg-color: #ffffff;
  --hedear-logo: #000000;
  --footer-logo: #ffffff;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --hero-btn-active: #188ce8;
  --second-body-bg-color: #e5e5e5;
  --tems-section-bg-color: #f5f4fa;
  --footer-address-color: #ffffff;
  --portfolio-btn-bg-color: #f5f4fa;
  --card-margin--: 30px;
  --cubic-bezier--: cubic-bezier(0.4, 0, 0.2, 1);
  --time-hov-fok--: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.head {
  position: relative;
  border-bottom: 1px solid #ececec;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo-header {
    padding: 26px 0 26px 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.19231;
    letter-spacing: 0.03em;
  }
}

.logo-header--black {
  color: var(--hedear-logo);
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  -webkit-transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
}

.site-nav-list__link:hover, .site-nav-list__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contaсts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contaсts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contaсts {
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contaсts__email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contaсts__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contaсts__email,
.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
}

@media screen and (min-width: 1200px) {
  .contaсts__email,
  .contacts__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: 0.02em;
  }
}

.contaсts__email:hover, .contaсts__email:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.btn-mob-menu-open {
  width: 40px;
  height: 40px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--body-bg-color);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
}

.btn-mob-menu-open:focus, .btn-mob-menu-open:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .btn-mob-menu-open {
    display: none;
  }
}

.btn-mob-menu-open__icon,
.btn-mob-menu-close__icon {
  fill: currentColor;
}

.header-mob-menu {
  position: fixed;
  background-color: var(--body-bg-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  -webkit-transition: visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: transform var(--time-hov-fok--) var(--cubic-bezier--), visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--);
  transition: transform var(--time-hov-fok--) var(--cubic-bezier--), visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
}

.header-mob-menu .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.btn-mob-menu-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--body-bg-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-mob-menu-close:focus, .btn-mob-menu-close:hover {
  color: var(--accent-color);
}

.mob-menu-list {
  position: relative;
}

.mob-menu-list__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.current--mob {
  color: var(--accent-color);
}

.mob-menu-list__item:not(:last-child),
.contacts-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-mob__tel {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27273;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .contacts-mob__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17647;
    letter-spacing: 0.02em;
  }
}

.contacts-mob__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mob-menu-social__item:not(:last-child)::after {
  content: "";
  margin-left: 5px;
  margin-right: 5px;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 480px) {
  .mob-menu-social__item:not(:last-child)::after {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mob-menu-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22222;
    letter-spacing: 0.02em;
  }
}

.hero {
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-bg-col);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob1x.jpg);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mob2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tab1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tab2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tab2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-des1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-des1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-des2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-des2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61538;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-title-color);
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36364;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: bacground-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: bacground-color var(--time-hov-fok--) var(--cubic-bezier--);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-btn-active);
}

.about-list__icon {
  height: 120px;
  width: auto;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-list__item {
    margin-left: 30px;
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .about-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.about-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about-list__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-list__text {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.activities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.activities__photos {
  margin-bottom: 30px;
  position: relative;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activities__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.team {
  background-color: var(--tems-section-bg-color);
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__title {
  font-size: 28px;
  line-height: 1.17857;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team-list__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list__name {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.team-list__profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list__profession {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
  }
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-social__icon {
  fill: currentColor;
}

.team-list__thumb {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 30px;
  text-align: center;
}

.clients {
  padding-top: 0;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17857;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients-list__link {
  padding: 16px 52px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--time-hov-fok--) var(--cubic-bezier--), border var(--time-hov-fok--) var(--cubic-bezier--);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--), border var(--time-hov-fok--) var(--cubic-bezier--);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.footer-page {
  background-color: var(--hero-bg-col);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-page__div-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-page__contacts {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-page__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-page__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-align: center;
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-page__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19231;
    letter-spacing: 0.03em;
    text-align: start;
  }
}

.footer-page__logo--wite {
  color: var(--footer-logo);
}

.foter-page__address-card {
  font-style: inherit;
  margin-top: 20px;
}

.address-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-card__text {
    text-align: start;
  }
}

.address-card__address-list {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address-card__address-list {
    margin-top: 9px;
  }
}

.address-list_item--mb {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list_item--mb {
    margin-bottom: 9px;
  }
}

.address-list_item {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-list_item {
    text-align: start;
  }
}

.address-list__email,
.address-list__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel);
  -webkit-transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
}

.address-list__email:hover, .address-list__email:focus,
.address-list__tel:hover,
.address-list__tel:focus {
  color: var(--accent-color);
}

.footer-page__social {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-page__social {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-page-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-page-social__title {
    text-align: start;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: #ffffff;
}

.foter-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .foter-form__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .email-form__send {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.email-form__text {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 15px 16px;
  margin-bottom: 20px;
}

.email-form__text::-webkit-input-placeholder, .email-form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-form__text:-ms-input-placeholder, .email-form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-form__text::-ms-input-placeholder, .email-form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-form__text::placeholder, .email-form__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .email-form__text {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__text {
    width: 358px;
    margin-right: 12px;
  }
}

.email-form__btn {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px 10px 29px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--);
  margin-left: auto;
  margin-right: auto;
}

.email-form__btn:hover, .email-form__btn:focus {
  background-color: var(--hero-btn-active);
}

@media screen and (min-width: 1200px) {
  .email-form__btn {
    height: 50px;
  }
}

.email-form__send-icon {
  margin-left: 10px;
}

.set-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .set-btn {
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .set-btn {
    margin-bottom: 50px;
  }
}

.set-btn__item {
  margin-bottom: 15px;
}

.set-btn__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .set-btn__item {
    margin-bottom: 0;
  }
}

.set-btn__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-btn-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--), -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--), -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--), box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--), color var(--time-hov-fok--) var(--cubic-bezier--), box-shadow var(--time-hov-fok--) var(--cubic-bezier--), -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
}

.set-btn__btn:hover, .set-btn__btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

.photo__card-set {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .photo__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

.card-set__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  transition: box-shadow var(--time-hov-fok--) var(--cubic-bezier--), -webkit-box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
}

.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
          box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
}

.card-set__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc(100% / 3 - 30px);
  }
}

.card-set__img-overlay {
  position: relative;
  overflow: hidden;
}

.card-set__photo-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--), transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--), transform var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.card-set__link:hover .card-set__photo-overlay,
.card-set__link:focus .card-set__photo-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .card-set__photo-overlay {
    padding: 49px 24px;
    min-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__photo-overlay {
    padding: 63px 24px;
    min-width: 370px;
  }
}

.card-set__thumb-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 5px;
  opacity: 0;
  -webkit-transition: opacity var(--time-hov-fok--) var(--cubic-bezier--);
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--);
}

.card-set__link:hover .card-set__thumb-portfolio,
.card-set__link:focus .card-set__thumb-portfolio {
  opacity: 1;
}

@media screen and (min-width: 480px) {
  .card-set__thumb-portfolio {
    top: 77px;
    left: 24px;
    width: 402px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__thumb-portfolio {
    top: 49px;
    width: 306px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__thumb-portfolio {
    top: 63px;
    width: 322px;
  }
}

.card-set__portfolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card-set__photo-thumb {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-set__photo-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-set__photo-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--time-hov-fok--) var(--cubic-bezier--);
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: relative;
  width: 90vw;
  min-height: 609px;
  background-color: var(--body-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
  transition: transform var(--time-hov-fok--) var(--cubic-bezier--), visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--);
  transition: transform var(--time-hov-fok--) var(--cubic-bezier--), visibility var(--time-hov-fok--) var(--cubic-bezier--), opacity var(--time-hov-fok--) var(--cubic-bezier--), -webkit-transform var(--time-hov-fok--) var(--cubic-bezier--);
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  max-width: 370px;
  text-align: center;
  color: #212121;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    width: 448px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
}

.modal-btn:focus, .modal-btn:hover {
  color: var(--accent-color);
}

.modal-btn__icon {
  fill: currentColor;
}

.form {
  padding: 40px;
  padding-top: 0;
}

.form__field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: border-color var(--time-hov-fok--) var(--cubic-bezier--);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__input-div {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time-hov-fok--) var(--cubic-bezier--);
  transition: fill var(--time-hov-fok--) var(--cubic-bezier--);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: border-color var(--time-hov-fok--) var(--cubic-bezier--);
}

.form__comment:focus {
  border-color: var(--accent-color);
}

.form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__policy-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .form__policy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
  }
}

.form__policy-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__policy-check:checked + .form__policy-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  -webkit-transition: border-color var(--time-hov-fok--) var(--cubic-bezier--), background-color var(--time-hov-fok--) var(--cubic-bezier--);
  transition: border-color var(--time-hov-fok--) var(--cubic-bezier--), background-color var(--time-hov-fok--) var(--cubic-bezier--);
}

.form-btn:focus, .form-btn:hover {
  border-color: #188ce8;
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */