.photo {
  padding-top: 94px;
  padding-bottom: 94px;
}

.set-btn {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.set-btn__btn {
  font-family: inherit;
  @include font($fs: 16px, $lh: 26px);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: calc(26 / 16);
  // letter-spacing: 0.03em;
  background-color: var(--portfolio-btn-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  transition: background-color var(--time-hov-fok--) var(--cubic-bezier--),
    color var(--time-hov-fok--) var(--cubic-bezier--),
    box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-title-color);
    box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
      0px 3px 1px 0px #0000001a;
  }
}

.photo__card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card-set__link {
  position: relative;
  display: block;
  transition: box-shadow var(--time-hov-fok--) var(--cubic-bezier--);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
      0px 1px 1px 0px #0000001f;
  }
}

.card-set__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.card-set__img-overlay {
  position: relative;
  overflow: hidden;
}

.card-set__photo-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* opacity: 0; */
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--),
    transform var(--time-hov-fok--) var(--cubic-bezier--);
  transform: translateY(100%);
  .card-set__link:hover &,
  .card-set__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-set__thumb-portfolio {
  position: absolute;
  width: 322px;
  height: 294px;
  top: 63px;
  left: 24px;
  opacity: 0;
  transition: opacity var(--time-hov-fok--) var(--cubic-bezier--);
  .card-set__link:hover &,
  .card-set__link:focus & {
    opacity: 1;
  }
}

.card-set__portfolio-text {
  @include font(400, 18px, 28px);
  // font-weight: 400;
  // font-size: 18px;
  // line-height: calc(28 / 18);
  // letter-spacing: 0.03em;
  color: #ffffff;
}

.card-set__photo-thumb {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-set__photo-title {
  @include font(700, 18px, 36px, 0.06em);
  // font-weight: 700;
  // font-size: 18px;
  // line-height: calc(36 / 18);
  // letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.card-set__photo-text {
  @include font(null, 16px, 30px);
   // font-size: 16px;
    // line-height: calc(30 / 16);
    // letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
