.head {
  position: relative;
  border-bottom: 1px solid #ececec;
}

// header .container {
//   display: flex;
//   align-items: center;
// }

.site-nav {
  display: none;
}

.site-nav-list {
  display: flex;
}

.contaсts {
  display: flex;
}

.logo-header {
  margin-right: 93px;
  padding: 24px 0 25px 0;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 31px);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header--black {
  color: var(--hedear-logo);
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list__link {
  position: relative;
  @include font($ls: 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contaсts {
  margin-left: auto;
  display: none;
}

.contaсts__email,
.contacts__tel {
  display: flex;
  align-items: center;
}

.contaсts__email-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contaсts__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contaсts__email,
.contacts__tel {
  @include font($ls: 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--time-hov-fok--) var(--cubic-bezier--);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.btn-mob-menu-open {
  min-width: 40px;
  min-height: 40px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mob-menu {
  position: fixed;
  background-color: var(--body-bg-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.btn-mob-menu-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--body-bg-color);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-menu-list {
  position: relative;
}

.mob-menu-list__link {
  position: relative;
  @include font(500, 40px, 47px, 0.02em);
  color: #212121;
}

.current--mob {
  color: var(--accent-color);
}

.mob-menu-list__item,
.contacts-mob__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.contacts-mob__tel {
  @include font(500, 34px, 40px, 0.02em);
}

.contacts-mob__email {
  @include font(500, 24px, 28px, 0.02em);
}

.mob-menu-social {
  display: flex;
  margin-top: 64px;
}

.mob-menu-social__item {
  &:not(:last-child)::after {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mob-menu-social__link {
  @include font(500, 18px, 22px, 0.02em);
  color: #2196f3;
}
