.hero {
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-bg-col);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tab2x.jpg);
    }
  }
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-des1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-des2x.jpg);
    }
  }
}

.hero__title {
  @include font(900, 26px, 42px, 0.06em);
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-title-color);
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    @include font(null, 44px, 60px, null);
  }
}

.hero__btn {
  font-family: inherit;
  @include font(700, 16px, 30px, 0.06em);
  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: bacground-color var(--time-hov-fok--) var(--cubic-bezier--);
  &:hover,
  &:focus {
    background-color: var(--hero-btn-active);
  }
}
