body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
