:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --hero-bg-col: #2f303a;
  --body-bg-color: #ffffff;
  --hedear-logo: #000000;
  --footer-logo: #ffffff;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
  --hero-btn-active: #188ce8;
  --second-body-bg-color: #e5e5e5;
  --tems-section-bg-color: #f5f4fa;
  --footer-address-color: #ffffff;
  --portfolio-btn-bg-color: #f5f4fa;
  --card-margin--: 30px;
  --cubic-bezier--: cubic-bezier(0.4, 0, 0.2, 1);
  --time-hov-fok--: 250ms;
}
